

/* 中间内容区域 */


/*  轮播图*/
.content{

    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
    outline: 0;
    /* 最大宽度 */
    max-width: 2560px;
    margin: auto;
    /*  */
    margin-top: 69px;
}
 .banner{
    margin-top: 70px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
    outline: 0;
    width: 100%;
    /* width: 1366px; */
    box-sizing: content-box;
    margin: 0 auto;
    /* height: 1171px; */
    height: 626px;
    /* min-height: 878px; */
    position: relative;
    /* overflow-x: hidden; */
 }
 .banner ul{
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     /* background-color: red; */
 }
 .banner ul li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    /* opacity: 0; */
    opacity: 1;
    /* 过度属性也可以实现 move运动函数也可以实现 */
    /* transition: all 1s linear; */
}
 .banner ul li img{
    
    display: block;
    width: 100%;
    height: 100%;
  
 }


 /*  */

 .banner .focus-o{
    padding:0 10px;
    height: 50px;
    /* background: rgba(0, 0, 0, .5); */
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    z-index: 1000;
}

.banner .focus-o li{
    width: 20px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 20px;
}

.banner .focus-o li.active{
    background: red;
}

.banner .focus-a{
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    /* top: 50%; */
    bottom: 10px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner .focus-a a{
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: 900;
    /* background: rgba(0, 0, 0, .5); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}



/* 图片商品展示 */
.featured-products{
    width: 100%;
}

.products-section{
    background-color: #f5f5f5;
    padding: 10px 0 120px;
    overflow: hidden;
}
.wrap{
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.row{
    width: 100%;
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;
    /*  */
    /* display: flex; */
    /* justify-content: space-evenly; */
    
    
}
/* .clear{
    display: block;
    clear: both;
    content: "";
} */


.col-md-6{
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 24%;
    float: left;
}
.products-column{
    color: #000;
    line-height: 24px;
    outline: 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
 
    background-size: contain;
}
.products-column .products-content{

    color: #000;
    line-height: 24px;
    outline: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    background-color: #fff;
    text-align: center;
    padding: 90px 40px 40px;
    display: inline-block;
}
.products-content .products-title{
   
    text-align: center;
    outline: 0;
    margin-top: 20px;
    box-sizing: border-box;
    font-weight: 400;
    color: #000;
    line-height: 40px;
    margin-bottom: 11px;
    font-size: 28px;
    /*  */
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.products-content .products-subtitle{
  
    font-weight: 400;
    text-align: center;
    outline: 0;
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    transition: 2s;
}
.products-content  a{
    display: inline-block;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    background-color: transparent;
    color: #000;
    box-sizing: border-box;
    appearance: none;
    outline: 0;
    text-decoration: none;
    z-index: 1;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
}


.products-content  a  img{
  
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000;
    outline: 0;
    border: 0;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: 100%;
    display: inline-block;
    width: auto !important;
    height: 230px;
    object-fit: contain;
}

.products-content  a:hover img{
        transform: scale(1.2);
}

/* 商品展示结束 */


/* story 开始  */

.story{
    margin-left: 1%;
    line-height: 1.42857143;
    width: 96%;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    outline: 0;
    box-sizing: border-box;
}
.story-list-section{
   
    font-weight: 400;
    color: #000;
    outline: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding-bottom: 130px;
}


.col-md-12{
 
    color: #000;
    line-height: 24px;
    outline: 0;
    box-sizing: border-box;
    float: left;
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
   
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    min-height: 300px;
}
.col-md-12 a{
  
    line-height: 24px;
    background-color: transparent;
    color: #000;
    box-sizing: border-box;
    appearance: none;
    outline: 0;
    text-decoration: none;
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2; */
}
.col-md-12 a img{
    width: 100%;
}
.col-md-12 .campain-box{

    font-weight: 400;
    color: #000;
    line-height: 24px;
    outline: 0;
    box-sizing: border-box;
    margin: -61px auto 0;
    width: 88%;
    /* width: 73%; */
}
.campain-box .campain-content{
    color: #000;
    line-height: 24px;
    outline: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 32px;
    background-color: #fff;
    transition: .3s ease;
}
.campain-box .campain-content p{
   
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 13px;
    width: 50%;
}

/*  */
.center{
  
    color: #000;
    line-height: 24px;
    outline: 0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    display: inline-block;
}
.center .center-more{
   
    
    text-align: center;
    outline: 0;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 65px;
    width: 152px;
    height: 54px;
    line-height: 54px;
    border-radius: 30px;
    position: relative;
    z-index: 10;
}
.center .center-more a{
  
    text-align: center;
    line-height: 54px;
    background-color: transparent;
    box-sizing: border-box;
    appearance: none;
    outline: 0;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    display: block;
    cursor: pointer;
    border: 1px solid black;
    border-radius:30px ;
   
}
.center .center-more a:hover{
    border: 2px solid #bd00fe;
}


/* 底部 */
